#contractors .contractor-row {
    margin-bottom: 8px;
}

.contractor-row .contractor-name {
    font-weight: bold;
    margin-right: 12px;
}

.contractor-row .contractor-delete {
    background-color: orange;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline a {
    background-color: orange;
    padding: 4px;
    border-radius: 2px;
    color: inherit;
    cursor: pointer;
}

.headline a:hover {
    color: inherit;
}