:root {
    --header-height: 36px
}

#header, #footer {
    display: flex;
    justify-content: space-between;

    background-color: grey;
    color: rgba(0,0,0,0.75);

    padding: 4px;

    font-size: small;
    font-weight: bold;
    
    height: var(--header-height);
}

#header a {
    display: block;
    height: 100%;

    color: inherit;
    font-size: 18px;
}