#sidebar {
    width: fit-content;
    background-color: rgb(243, 244, 246);
    border-right: 1px solid grey;
}

#sidebar a {
    display: block;
    width: 100%;
    padding: 4px 8px;

    color: rgba(0,0,0,0.75);
    text-decoration: none;
}

#sidebar a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
